body{
  font-family: 'Lora', serif;
  margin: 0px;
  display: block;
  height: 100%;
}

ul.nav-bar-content{
  padding: 0px;
}

h3{
  text-decoration: underline;
}

a{
  text-decoration: none;
}

footer{
  height: 65px;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  background-color: white;
}

p.about{
  color: #343434;
}

p.project-description{
  background-color: #F3F3F3;
}

.hidden{
  display: none;
}

.profile-info, .contact-info, .portfolio-info{
  text-align: left;
  max-width: 800px;
  display: flex;
  height: 100%;
}

.portfolio-info{
  flex-direction: column;
}

.default-body{
  text-align: left;
  max-width: 800px;
}

.project {
  padding: 15px;
}

.project-stack{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-link{
  list-style: none;
  display: block;
}

.project-link>a{
  color: #8E8B82;
}

.link-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-image{
  width: 100%;
}

.fa-envelope{
  color: #E9DCBE;
}

.fa-linkedin{
  background-color: #8E8B82;
  color: white;
  width: 42px;
}

.fa-github{
  color: #343434;
}

@media only screen and (max-width: 575px){

  header{
    display: none;
  }

  footer{
    border-top: 1px solid #343434;
  }

  h1 {
    margin: 15% 0px 25px 0px;
    font-size: 45px;
  }

  p.title {
    font-size: 25px;
    background-color: white;
    margin: 0px 0px 15px 0px;
  }

  p.quote {
    color: #343434;
    font-style: italic;
    margin-top: 25px;
  }

  p.skills {
    margin-top: 60px;
    color: #343434;
    font-weight: bold;
  }

  .main-box{
    height: calc(100vh - 150px);
  }

  .nav-bar-selection{
    width: 100%;
    background-color: #E9DCBE;
    height: 65px;
    top: 0;
    position: fixed;
  }

  .nav-bar-content{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .main-nav-link>a{
    color: #343434;
  }

  .main-nav-link>a:hover{
    border-bottom: 1px solid #343434;
  }

  .default-body{
    max-height: 500px;
  }

  .site-content{
    margin-top: 75px;
    box-sizing: border-box;
    display: flex;
    padding: 0 5% 0 5%;
    flex: 0 1 100%;
    overflow: auto;
    justify-content: center;
    height: 100%;
    background-color: white;
  }

  .headshot{
    display: block;
    margin: auto;
  }

  .contact-content{
    display: none;
  }
  
  .footer-content{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: auto;
    width: 100%;
  }

}

@media only screen and (min-width: 576px){

  header{
    height: 75px;
    background-color: white;
  }

  h1 {
    margin: 15% 0px 25px 0px;
    font-size: 50px;
  }

  p.title {
    font-size: 35px;
    background-color: white;
    margin: 0px 0px 15px 0px;
  }

  p.quote {
    color: #343434;
    font-style: italic;
    margin-top: 25px;
  }

  p.skills {
    margin-top: 60px;
    color: #343434;
    font-weight: bold;
  }

  .default-body {
    overflow: hidden;
    max-width: 800px;
    height: 500px;
  }

  .white {
    width: 1000px;
    height: 75px;;
    top: 35px;
    right: -55%;
    transform: rotate(315deg);
    background-color: #F3F3F3;
  }

  .gold {
    width: 1000px;
    height: 75px;
    top: -5%;
    right: -55%;
    transform: rotate(315deg);
    background-color: #E9DCBE;
  }

  .gray {
    width: 1000px;
    height: 75px;
    top: -5%;
    right: -55%;
    transform: rotate(315deg);
    background-color: #8E8B82;
  }

  .black {
    width: 1000px;
    height: 100px;
    top: -5%;
    right: -55%;
    transform: rotate(315deg);
    background-color: #343434;
  }

  .main-box{
    display: flex;
    height: calc(100vh - 150px);
  }
  
  .site-content{
    box-sizing: border-box;
    display: flex;
    padding: 0 5% 0 5%;
    flex: 0 1 100%;
    overflow: auto;
    justify-content: center;
    border-left: 1px solid #343434;
    height: 100%;
    background-color: white;
  }

  .nav-flex{
    display: flex;
    height: 100%;
    flex: 0 0 25%;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .nav-bar-selection{
    flex:1;
  }

  .nav-bar-content{
    list-style: none;
  }

  li.main-nav-link{
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 20px;
  }

  .main-nav-link>a{
    color: #343434;
  }

  .main-nav-link>a:hover{
    border-bottom: 1px solid #343434;
    font-size: 25px;
  }

  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .message-box{
    border: 1px solid #7AAFC1;
    margin-top: 50px;
    padding: 15px;
    display: block;
  }

  .email-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .message-submit{
    margin: 10px;
    width: 20%;
    align-self: center;
    background-color: #DCEED6;
    font-family: 'Lora', serif;
    border-radius: 99%;
  }

  .contact-info, .contact {
    display: none;
  }

  .contact-content{
    list-style: none;
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: flex-end;
    margin: 40px 0px 0px 0px;
  }
  
  .headshot{
    border: 5px solid #E9DCBE;
    float: left;
    margin: 25px;
  }

  .footer-content{
    display: none;
  }

  li.contact-link {
    padding-right: 55px;
  }

  body {
  margin-bottom: 75px;
  }

}

/*Scrollbar styles*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #E9DCBE;
}